

@{
    var username = "hardcoded value";

    Layout = "~/Views/Shared/_UserSharedTopMenu.cshtml";
}

<h2>Index User View</h2>
<h3> Username = @username</h3>


<script type="text/javascript">
    $(document).ready(function () {
        console.log("document ready");



    });
</script>

